.profile{
    color: black;
    .row{
        padding: 10px;
        background-color: $color-pink;
        .profile_left{
            text-align: center;
            border-right: 3px solid $color-orange;
            img{
                margin-top: -40px;
                margin-bottom: -20px;
                width: 40%;
            }
        }
        .profile_right{
            line-height: 3.5rem;
            padding-left: 3.5rem;
            &_works{
                float: right;
                margin-top: -10px;
            }
        }
    }
   
}
