.form_write{
    border: 1px solid black;
    padding-bottom: 1rem;
    legend{
        background-color: rgba($color-dark,  .5);
        padding: 5px ;
    }
    .form_title,.form_content,.form_file{
        padding: 0.5rem;
        input{
            width: 50%;
            border: none;
            border-bottom: 1px solid $color-dark;
            outline: none;
            padding: 0.5rem;
        }
        .file_update{
            border: none;
        }
    }
}
.form_itemview{
    border: 1px solid black;
    border-top:10px solid rgba($color-dark,  0.6);
    .tasks{
        float: right;
        position: relative;
        right: 4px;
        button{
            background-color: white;
            padding: 2px;
            cursor: pointer;
            margin-top: 3px;
            border: none;
            height: 20px;
        }
    }
    &-content{
        border-top: 1px solid $color-dark;
        padding: 15px 5px 15px 5px;
        border-bottom: 1px solid $color-dark;
    }
    &-information, &-file{
        padding: 0.5rem;
    }
}