.TAB {
    display: flex;
    flex-direction: column;
    width: 100%;
    .tabs-wrapper {
        display: flex;
        height: 30px;
        background: #333638;
        align-items: center;
        color: #ffffff;
        .tab-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            height: 100%;
            width: 150px;
            padding: 0 10px;
            cursor: pointer;

            &.active {
                background: #505050;
            }
            > .filename {
                &.modify {
                    font-style: italic;
                }
            }
        }
    }
}