.FileHead{
    float: right;
    text-align: right;
    margin-top: 4px;
    i{
        cursor: pointer;
        font-size: 20px;
        margin-right: 5px;
        &:hover {
            color: #acacac;
        }
    }
}
.FILE-NAVIGATION {
    min-width: 200px;
    box-sizing: border-box;
    height: 100%;
    margin-left: 52px;
    background: #333638;
    color: #ffffff;
    h1 {
        cursor: pointer;
        height: 30px;
        padding: 0 10px;
        background: #475154;
        color: #ffffff;
        line-height: 1.5rem;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .open-file {
        cursor: pointer;
        color:#ffffff;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        .modify {
            font-style: italic;
        }
    }

    .file-wrapper {
        p {
            cursor: pointer;
            padding: 0 10px;
            line-height: 1.25rem;
            align-items: center;
            display: flex;
            img{
                height: 15px;
                width: 15px;
                margin-right: 10px;
            }
            &::selection {
                background: none;
            }
            &:hover {
                background: #aad1fd;
            }
            &.active {
                background: #dd8989;
            }
        }
        .direcotry-wrapper {
            p {
                vertical-align: middle;
                img {
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }
}